.titleGame {
  margin-top: 26px;
  text-align: "center";
  font-size: "50px";
  font-family: "Arial";
  color: "white";
}

.game {
  width: 600px;
  height: 500px;
  background-color: #fff;
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
}

.game div {
  width: 20px;
  height: 20px;
}
